c-shopping-list-editor("(ingredientAdded)"="onIngredientAdded($event)")

hr

.list-group
  a.list-group-item("*ngFor"="let ingredient of ingredients")
    | {{ ingredient.name }} ({{ ingredient.amount }})
