a.card("[routerLink]"="[index]", routerLinkActive="active")
  img.card-img-top("[src]"="recipe.image", alt="{{ recipe.name }}", onerror="this.src='https://wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg'" )
  .card-body
    h5.card-title {{ recipe.name }}
    p.card-text {{ recipe.description }}
