form
  .form-row
    .form-group.col-md-9
      label(for="name") Name
      input.form-control.form-control-sm(type="text", name="name", "[(ngModel)]"="ingredient.name")

    .form-group.col-md-3
      label(for="amount") Amount
      input.form-control.form-control-sm(type="number", name="amount", "[(ngModel)]"="ingredient.amount")

  button.btn.btn-success("(click)"="onAdd()", type="submit", "[disabled]"="!canAdd()") Add
  button.btn.btn-danger("(click)"="onDelete()", type="button") Delete
  button.btn.btn-secondary("(click)"="onClear()", type="button") Clear
