form("(ngSubmit)"="onSubmit()", "#ngForm"="ngForm")
  .form-row
    .form-group.col-md-9
      label(for="name") Name
      input.form-control.form-control-sm(type="text", name="name", "ngModel"="", required)

    .form-group.col-md-3
      label(for="amount") Amount
      input.form-control.form-control-sm(type="number", name="amount", "ngModel"="", required, pattern="^[1-9]+[0-9]*$")

  button.btn.btn-success("[disabled]"="ngForm.invalid", type="submit") {{ editingIndex >= 0 ? 'Update' : 'Add' }}
  button.btn.btn-warning.float-right("(click)"="onClear()", *ngIf="editingIndex < 0 && ngForm.touched", type="submit") Clear
  button.btn.btn-danger.float-right("(click)"="onCancel()", type="button", *ngIf="editingIndex >= 0") Cancel
