nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(routerLink="/recipes")
    | Recipe Book
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink="/recipes")
          | Recipes
      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink="/shopping-list")
          | Shopping List
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Data
        .dropdown-menu(aria-labelledby='navbarDropdown')
          button.btn.btn-default.dropdown-item((click)="onSave()") Save
          .dropdown-divider
          button.btn.btn-default.dropdown-item((click)="onLoad()") Fetch

  button.btn.btn-success("(click)"="onNewRecipe()")
    | New Recipe
