.card
  img.card-img-top("[src]"="recipesService.recipes.current.image", alt="{{ recipesService.recipes.current.name }}")
  .card-body
    h5.card-title {{ recipesService.recipes.current.name }}
    p.card-text {{ recipesService.recipes.current.description }}
    .dropdown.float-right
      button.btn.btn-secondary.dropdown-toggle#cardDropdown(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | Manage
      .dropdown-menu(aria-labelledby='cardDropdown')
        a.dropdown-item((click)="shoppingListService.addIngredientsFromCurrent()") To shopping list
        .dropdown-divider
        a.dropdown-item Edit recipesService.recipes.current
        a.dropdown-item Delete recipesService.recipes.current
  .list-group
    .list-group-item("*ngFor"="let ingredient of recipesService.recipes.current.ingredients")
      | {{ ingredient.name }} ({{ ingredient.amount }})

