.card
  img.card-img-top("[src]"="recipe.image", alt="{{ recipe.name }}", onerror="this.src='https://wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg'")
  .card-body
    h5.card-title {{ recipe.name }}
    p.card-text {{ recipe.description }}
    .dropdown.float-right
      button.btn.btn-secondary.dropdown-toggle#cardDropdown(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | Manage
      .dropdown-menu(aria-labelledby='cardDropdown')
        button.btn.dropdown-item((click)="onAddToShoppingList()", [disabled]="!recipe.getIngredients().length") To shopping list
        .dropdown-divider
        button.btn.dropdown-item((click)="onEditRecipe()") Edit recipe
        button.btn.dropdown-item((click)="onDeleteRecipe()") Delete recipe
  .list-group
    .list-group-item("*ngFor"="let ingredient of recipe.getIngredients()")
      | {{ ingredient.name }} ({{ ingredient.amount }})
