.container
  .row
    .col-md-12
      c-header("(stateChanged)"="onStateChanged($event)", "[state]"="state.current")
  .row
    .col-md-12
      c-recipes("*ngIf"="state.is.recipes()")
      c-shopping-list("*ngIf"="state.is.shoppingList()")
