.row
  .col-xs-12.col-md-6.offset-md-3

    h3(*ngIf="signinMode") Sign in
    h3(*ngIf="!signinMode") Sign up

    //- .alert.alert-danger(*ngIf="error")
    //-   div.font-weight-bold An error occurred:
    //-   div {{ error }}

    //- alert(*ngIf="error", (onClose)="onCloseAlert()", [message]="error")

    ng-template(cPlaceholder)

    loading-spinner(*ngIf="loading")

    form(#ngForm="ngForm", *ngIf="!loading", (ngSubmit)="onSubmit(ngForm)")
      .form-group.form-group-sm
        label(for="email") Email
        input#email.form-control.form-control-sm(type="email", ngModel="", name="email", required="", email="", spellcheck="false")
        small#emailNote.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label(for="password") Password
        input#password.form-control.form-control-sm(type="password", ngModel="", name="password", required, minlength="6")
      button.btn.btn-outline-primary.float-left(type="button", (click)="onSwitchMode()")
        span(*ngIf="signinMode") Switch to Signup
        span(*ngIf="!signinMode") Switch to Login
      button.btn.btn-outline-success.float-right(type="submit", [disabled]="ngForm.invalid")
        span(*ngIf="signinMode") Sign in
        span(*ngIf="!signinMode") Sign up
